﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {}


@foreach (var category in ViewBag.Categories)
{
    <div id="c@(category.Id)" class="cat_div" style="float:left;width:100px">
        @category.CategoryName
        <br />
    </div>
}

<br />

@foreach (var category in ViewBag.Categories)
{ 
    <div id="p@(category.Id)" class="pr_div" style="float:left;width:100px">
    @foreach (var product in category.Products)
    {
        @Html.ActionLink((string)product.ProductName, "ProductDetails","Product", new { id=product.Id },null) 
        <br />
    }
    </div>
}

<script>
    $(function () {
        $('.cat_div').click(function (event) {
            var result = event.target.id;
            var id = result.substring(1)
            $('.pr_div').hide();
            $('#p' + id).show();
        });
    });
</script>