﻿@model MvcApplication1.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>

    <div class="display-field">
        @Html.Label("Products")
    </div>

    @foreach (var item in Model.Products)
    {
        <div class="display-field">
            @Html.ActionLink(item.ProductName, "Details", "Product", new {id=item.Id }, null)
        </div>
    }

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
