﻿@model MvcApplication1.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductName)
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.Label("Upload Images")
        </div>
 
        <input type="file" name="files" id="files" style="width: 100%;" multiple="multiple" /> 

        @{
            int counter = 1;
        }

        @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/product/"+Model.ProductName), "*.jpg"))
        {
            var img = new FileInfo(imgPath);
            <img class="img" src="@Url.Content(String.Format("~/Images/product/{0}/{1}",Model.ProductName, img.Name))" id="img@(counter)" width="100" height="100" />
            counter++;
        }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(function () {
        $('.img').click(function (event) {
            if (confirm('Are you sure you want to delete this image')) {
                var item = $(event.target).attr('src')
                var id = event.target.id;
                $.getJSON("/Product/DeleteImage", { imagePath: item },
                  function (data, status) {
                      $('#'+id).hide();
                  }
                );
            }
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
