﻿@model MvcApplication1.Models.Product

@{
    ViewBag.Title = "ProductDetails";
}

<h2>ProductDetails</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/product/"+Model.ProductName), "*.jpg"))
    {
        var img = new FileInfo(imgPath);
        <img src="@Url.Content(String.Format("~/Images/product/{0}/{1}",Model.ProductName, img.Name))" width="100" height="100" />
    }

</fieldset>
<p>
 @*   @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
